<%= render "shared/title", title: "Listing All Articles" %>

<div class="row mspace col-12">
  <b><%= link_to "Create new article", new_article_path,
                                       class:"btn btn-secondary" %></b>
</div>

<% if @articles.any? %>
  <%= render "shared/search_box", path: articles_path %>

  <% if @search != [] && @search == nil %>
    <div class="row offset-4 sspace">
      <%= will_paginate %>
    </div>

    <% @articles.each do |article| %>
      <div class="space">
        <div class="card text-white bg-dark col-md-10 col-sm-12">
          <div class="card-header border-secondary">
            <h5><%= article.title %></h5>
          </div>
          <div class="card-body">
            <p>
              <b>Writer: &nbsp;</b>
              <u><%= link_to  article.user.email, "#", class: "text-white" %></u>
            </p>

            <small>
              <p>
                <b>Created at: &nbsp;</b><%= time_ago_in_words(article.created_at) %> ago.
                <% if time_ago_in_words(article.created_at) !=
                      time_ago_in_words(article.updated_at) %>
                  <b>| Last updated: </b><%= time_ago_in_words(article.updated_at) %> ago.
                <% end %>
              </p>
              <%= link_to "Show", article_path(article),
                                  class:"btn btn-secondary btn-sm" %>
              <%= link_to "Edit", edit_article_path(article),
                                  class:"btn btn-secondary btn-sm" %>
              <%= link_to "Delete", article_path(article),
                                    method: :delete,
                                    data: {confirm: "Are you sure?"},
                                    class:"btn btn-secondary btn-sm" %>
            </small>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row offset-4 sspace">
      <%= will_paginate %>
    </div>
  <% end %>
<% else %>
  <div class="row xspace">
    <div class="center col-12 text-danger">
      <h5>There are no articles to display</h5>
    </div>
  </div>
<% end %>
